<!DOCTYPE html>
<html lang="en">

<head>
	<title>SVCE Kadapa</title>
	<meta charset="utf-8" />
	<meta name="description" content="svce faculty feedback portal" />
	<meta name="keywords" content="svcekadapa svce svck kadapa" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="shortcut icon" href="/favicon.ico" />
	<!--begin::Fonts-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
	<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
	<!--end::Fonts-->
	<!--begin::Global Stylesheets Bundle(used by all pages)-->
	<link href="/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
	<link href="/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
	<!--end::Global Stylesheets Bundle-->
</head>
<!--end::Head-->
<!--begin::Body-->

<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed aside-enabled sidebar-enabled">
	<!--begin::Main-->
	<!--begin::Root-->
	<div class="d-flex flex-column flex-root">
		<!--begin::Page-->
		<div class="page d-flex flex-column flex-column-fluid">
			<!--begin::Header-->
			<div id="kt_header" class="header align-items-stretch">
				<!--begin::Container-->
				<div class="container-xxl d-flex align-items-stretch justify-content-between">
					<!--begin::Brand-->
					<div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0 w-lg-225px me-5">
						<!--begin::Aside mobile toggle-->
						<div class="btn btn-icon btn-active-icon-primary ms-n2 me-2 d-flex d-lg-none"
							id="kt_aside_toggle">
							<!--begin::Svg Icon | path: icons/duotune/abstract/abs015.svg-->
							<span class="svg-icon svg-icon-1">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
									fill="none">
									<path
										d="M21 7H3C2.4 7 2 6.6 2 6V4C2 3.4 2.4 3 3 3H21C21.6 3 22 3.4 22 4V6C22 6.6 21.6 7 21 7Z"
										fill="black" />
									<path opacity="0.3"
										d="M21 14H3C2.4 14 2 13.6 2 13V11C2 10.4 2.4 10 3 10H21C21.6 10 22 10.4 22 11V13C22 13.6 21.6 14 21 14ZM22 20V18C22 17.4 21.6 17 21 17H3C2.4 17 2 17.4 2 18V20C2 20.6 2.4 21 3 21H21C21.6 21 22 20.6 22 20Z"
										fill="black" />
								</svg>
							</span>
							<!--end::Svg Icon-->
						</div>
						<!--end::Aside mobile toggle-->
						<!--begin::Logo-->
						<a href="#">
							<img alt="Logo" src="/assets/media/logos/svce.png" class="d-none d-lg-inline h-50px" />
							<img alt="Logo" src="/assets/media/logos/svce.png" class="d-lg-none h-35px" />
						</a>
						<!--end::Logo-->
					</div>
					<!--end::Brand-->
					<!--begin::Wrapper-->
					<div class="d-flex align-items-stretch justify-content-between ml-auto">
						<!--begin::Toolbar wrapper-->
						<div class="d-flex align-items-stretch flex-shrink-0">
							<!--begin::Search-->
							<div class="d-flex align-items-stretch ms-1 ms-lg-2">
								<!--begin::Search-->
								<div id="kt_header_search" class="d-flex align-items-stretch"
									data-kt-search-keypress="true" data-kt-search-min-length="2"
									data-kt-search-enter="enter" data-kt-search-layout="menu"
									data-kt-menu-trigger="auto" data-kt-menu-overflow="false"
									data-kt-menu-permanent="true" data-kt-menu-placement="bottom-end">
									<!--begin::Search toggle-->
									<div class="d-flex align-items-stretch" data-kt-search-element="toggle"
										id="kt_header_search_toggle">

										<h1 class="fs-2tx fw-bolder text-primary mb-8 mt-auto">Faculty Feedback Portal
										</h1>

									</div>
									<!--end::Search toggle-->
								</div>
								<!--end::Search-->
							</div>
							<!--end::Search-->
						</div>
						<!--end::Toolbar wrapper-->
					</div>
					<!--end::Wrapper-->
				</div>
				<!--end::Container-->
			</div>
			<!--end::Header-->
			<!--begin::Container-->
			<div id="kt_content_container" class="d-flex flex-column-fluid align-items-stretch container-xxl">
				<!--begin::Aside-->
				<div id="kt_aside" class="aside" data-kt-drawer="true" data-kt-drawer-name="aside"
					data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true"
					data-kt-drawer-width="{default:'200px', '300px': '225px'}" data-kt-drawer-direction="start"
					data-kt-drawer-toggle="#kt_aside_toggle" data-kt-sticky="true" data-kt-sticky-name="aside-sticky"
					data-kt-sticky-offset="{default: false, lg: '1px'}" data-kt-sticky-width="{lg: '225px'}"
					data-kt-sticky-left="auto" data-kt-sticky-top="94px" data-kt-sticky-animation="false"
					data-kt-sticky-zindex="95">
					<!--begin::Aside nav-->
					<div class="hover-scroll-overlay-y my-5 my-lg-5 w-100 ps-4 ps-lg-0 pe-4 me-1"
						id="kt_aside_menu_wrapper" data-kt-scroll="true"
						data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-height="auto"
						data-kt-scroll-dependencies="#kt_header" data-kt-scroll-wrappers="#kt_aside"
						data-kt-scroll-offset="5px">
						<!--begin::Menu-->
						<div class="menu menu-column menu-active-bg menu-hover-bg menu-title-gray-700 fs-6 menu-rounded w-100"
							id="#kt_aside_menu" data-kt-menu="true">
							<!--begin::Heading-->
							<div class="menu-item">
								<div class="menu-content pb-2">
									<span class="menu-section text-muted text-uppercase fs-7 fw-bolder">Menu</span>
								</div>
							</div>
							<!--end::Heading-->
							<!--begin::Menu item-->
							<div class="menu-item mb-2">
								<a href="/" class="menu-link text-hover-primary">
									<span class="menu-title"><i class="fi fi-rr-home fs-3"></i>
										<pre> </pre><span class=" ml-5"> Home</span></span>
								</a>
							</div>
							<!--end::Menu item-->
							<!--begin::Menu item-->
							<div class="menu-item mb-2">
								<a href="/settings" class="menu-link active">
									<span class="menu-title"><i class="fi fi-rr-settings text-primary fs-3"></i>
										<pre> </pre><span class="ml-5 text-primary"> Settings</span></span>
								</a>
							</div>
							<!--end::Menu item-->
							<!--begin::Menu item-->
							<div class="menu-item mb-2">
								<a class="menu-link text-hover-primary" id="logout">
									<span class="menu-title"><i class="fi fi-rr-sign-out-alt fs-3"></i>
										<pre> </pre><span>Logout</span></span>
								</a>
							</div>
							<!--end::Menu item-->
						</div>
						<!--end::Menu-->
					</div>
					<!--end::Aside nav-->
				</div>
				<!--end::Aside-->
				<!--begin::Wrapper-->
				<div class="wrapper d-flex flex-column flex-row-fluid mt-5 mt-lg-10" id="kt_wrapper">
					<!--begin::Content-->
					<div class="content flex-column-fluid" id="kt_content">
						<div class="card mb-5 mb-xl-10">
							<!--begin::Card header-->
							<div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse"
								data-bs-target="#kt_account_profile_details" aria-expanded="true"
								aria-controls="kt_account_profile_details">
								<!--begin::Card title-->
								<div class="card-title m-0">
									<h3 class="fw-bolder m-0">Edit Profile</h3>
								</div>
								<!--end::Card title-->
							</div>
							<!--begin::Card header-->
							<!--begin::Content-->
							<div id="kt_account_settings_profile_details" class="collapse show">
								<!--begin::Form-->
								<form class="form fv-plugins-bootstrap5 fv-plugins-framework" autocomplete="off"
									novalidate="novalidate">
									<!--begin::Card body-->
									<div class="card-body border-top p-9">
										<!--begin::Input group-->
										<div class="fv-row mb-7">
											<label class="form-label fw-bolder text-dark fs-6">Name</label>
											<input class="form-control form-control-lg form-control-solid" type="name"
												placeholder="" value="<%= user.name %> " name="name" id="name"
												autocomplete="off" required />
										</div>
										<!--end::Input group-->
										<!--begin::Input group-->
										<div class="fv-row mb-7">
											<label class="form-label fw-bolder text-dark fs-6">Email</label>
											<input class="form-control form-control-lg form-control-solid" type="email"
												placeholder="" disabled value="<%= user.email %>" name="email"
												id="email" autocomplete="off" required />
										</div>
										<!--end::Input group-->
										<!--begin::Input group-->
										<div class="mb-7 fv-row">
											<!--begin::Wrapper-->
											<label class="form-label fw-bolder text-dark fs-6">Old Password</label>
											<!--end::Label-->
											<input class="form-control form-control-lg form-control-solid"
												type="password" value="<%= user.password %>" id="old-password"
												placeholder="" name="password" autocomplete="off" required />
										</div>
										<!--end::Input group=-->
										<!--begin::Input group-->
										<div class="mb-7 fv-row">
											<!--begin::Wrapper-->
											<label class="form-label fw-bolder text-dark fs-6">New Password</label>
											<!--end::Label-->
											<input class="form-control form-control-lg form-control-solid"
												type="password" id="new-password" placeholder="" name="password"
												autocomplete="off" required />
										</div>
										<!--end::Input group=-->

										<!--begin::Input group-->
										<div class="fv-row mb-5">
											<label class="form-label fw-bolder text-dark fs-6">Confirm Password</label>
											<input class="form-control form-control-lg form-control-solid"
												type="password" id="confirm-password" placeholder=""
												name="confirm-password" autocomplete="off" required />
										</div>
										<!--end::Input group-->
										<!--begin::Input group-->
										<div class="fv-row mb-10">
											<label
												class="form-check form-check-custom form-check-solid form-check-inline">
												<input class="form-check-input" id="show-password" type="checkbox"
													name="showPassword" />
												<span class="form-check-label fw-bold text-gray-700 fs-6">Show
													password</span>
											</label>
										</div>
										<!--end::Input group-->
									</div>
									<!--end::Card body-->
									<!--begin::Actions-->
									<div class="card-footer d-flex justify-content-end py-6 px-9">
										<button class="btn btn-primary" id="submit">Save Changes</button>
									</div>
									<!--end::Actions-->
								</form>
								<!--end::Form-->
							</div>
							<!--end::Content-->
						</div>
					</div>
					<!--end::Content-->
					<!--begin::Footer-->
					<div class="d-flex flex-center flex-column-auto p-10">
						<!--begin::Links-->
						<div class="d-flex align-items-center fw-bold fs-6">
							<a href="#" class="text-muted fs-bolder px-2">SVCE Kadapa</a>
						</div>
						<!--end::Links-->
					</div>
					<!--end::Footer-->
				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Container-->
		</div>
		<!--end::Page-->
	</div>
	<!--end::Root-->
	<!--end::Main-->
	<!--begin::Javascript-->
	<script type="text/javascript">
		window.onload = function () {
			const button = document.getElementById("logout");
			const save = document.getElementById("submit");
			let checkBox = document.getElementById("show-password");
			let nameInput = document.getElementById("name");
			let oldPasswordInput = document.getElementById("old-password");
			let newPasswordInput = document.getElementById("new-password");
			let confirmPasswordInputBox = document.getElementById("confirm-password");
			checkBox.addEventListener("click", () => {
				if (checkBox.checked == true) {
					oldPasswordInput.setAttribute("type", "text");
					newPasswordInput.setAttribute("type", "text");
					confirmPasswordInputBox.setAttribute("type", "text");
				} else {
					oldPasswordInput.setAttribute("type", "password");
					newPasswordInput.setAttribute("type", "password");
					confirmPasswordInputBox.setAttribute("type", "password");
				}
			})
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function () {
				if (this.readyState == 4 && this.status == 200) {
					const res = JSON.parse(xhttp.responseText);
					Swal.fire({
						text: `Dear ${res.name}, ${res.message}`,
						icon: res.status,
						buttonsStyling: false,
						confirmButtonText: "Ok, got it!",
						customClass: {
							confirmButton: "btn btn-primary"
						}
					}).then(result => {
						if (result.isConfirmed) {
							location.reload("/");
						}
					});
				}
			}

			save.addEventListener("click", function (e) {
				e.preventDefault();
				let name = nameInput.value;
				let oldPassword = oldPasswordInput.value;
				let newPassword = newPasswordInput.value;
				let confirmPassword = confirmPasswordInputBox.value;
				if (oldPassword == "" && newPassword == "" && confirmPassword == "") {
					let data = {
						name: name
					}
					xhttp.open("POST", "/update");
					xhttp.setRequestHeader("Accept", "application/json");
					xhttp.setRequestHeader("Content-Type", "application/json");
					xhttp.send(JSON.stringify(data));
				} else {
					if (oldPassword != "" && newPassword == confirmPassword) {
						let data = {
							name: name,
							oldPassword: oldPassword,
							newPassword: newPassword,
							confirmPassword: confirmPassword
						}
						xhttp.open("POST", "/update");
						xhttp.setRequestHeader("Accept", "application/json");
						xhttp.setRequestHeader("Content-Type", "application/json");
						xhttp.send(JSON.stringify(data));
					} else {
						Swal.fire({
							text: "New Password and Confirm Password doesn't match.",
							icon: "error",
							buttonsStyling: false,
							confirmButtonText: "Ok, got it!",
							customClass: {
								confirmButton: "btn btn-primary"
							}
						})
					}
				}
			});

			button.addEventListener("click", (e) => {
				e.preventDefault();
				Swal.fire({
					text: "Do you want to logout?",
					icon: "info",
					buttonsStyling: false,
					confirmButtonText: "Ok, logout!",
					showCancelButton: true,
					customClass: {
						confirmButton: "btn btn-primary",
						cancelButton: "btn btn-danger"
					}
				}).then(result => {
					if (result.isConfirmed) {
						xhttp.open("GET", "/auth/logout");
						xhttp.setRequestHeader("Accept", "application/json");
						xhttp.setRequestHeader("Content-Type", "application/json");
						xhttp.send();
					}
				});
			});
		}
	</script>
	<!--begin::Global Javascript Bundle(used by all pages)-->
	<script src="/assets/plugins/global/plugins.bundle.js"></script>
	<script src="/assets/js/scripts.bundle.js"></script>
	<!--end::Global Javascript Bundle-->
	<!--end::Javascript-->
</body>
<!--end::Body-->

</html>